<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <servlet-name>AfficheAnnouncements</servlet-name>
    <servlet-class>com.thp.project.vintud.web.servlet.AfficheAnnouncements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficheAnnouncements</servlet-name>
    <url-pattern>/announcements</url-pattern>
  </servlet-mapping>
  <servlet>
    
    <servlet-name>CreateAnnouncement</servlet-name>
    <servlet-class>com.thp.project.vintud.web.servlet.CreateAnnouncement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAnnouncement</servlet-name>
    <url-pattern>/create/announcement</url-pattern>
  </servlet-mapping>
</web-app>